@import url(https://fonts.googleapis.com/css?family=Google+Sans:400,500);

body {
    font-family: 'Google Sans', sans-serif
  }
  .heading {
    font-weight: 700;
  }
  .subheading {
    font-weight: 300;
  }